<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增项目信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-list-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">项目编号：</label>
                <div class="col-sm-8">
                    <input name="projectBianhao" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">项目名称：</label>
                <div class="col-sm-8">
                    <input name="projectName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">项目负责人：</label>
                <div class="col-sm-8">
                    <input name="projectLeader" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属学院：</label>
                <div class="col-sm-8">
                    <select id="deptName" name="deptName" class="form-control m-b" th:with="type=${@dict.getType('kjc-college')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">批准经费：</label>
                <div class="col-sm-8">
                    <input name="projectGrant" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">实际在校经费：</label>
                <div class="col-sm-8">
                    <input name="schoolRealBudget" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">项目状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('kjc_project_status')}">
                        <input type="radio" th:id="${'projectStatus_' + dict.dictCode}" name="projectStatus" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'projectStatus_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">年份：</label>
                <div class="col-sm-8">
                    <input name="projectYear" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">绩效：</label>
                <div class="col-sm-8">
                    <input name="projectPerformance" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开始日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="startData" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结束日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="endData" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">项目类型：</label>
                <div class="col-sm-8">
                    <input name="projectType" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">下达单位：</label>
                <div class="col-sm-8">
                    <input name="xiadadanwei" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">外拨金额：</label>
                <div class="col-sm-8">
                    <input name="waibo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">合作方式：</label>
                <div class="col-sm-8">
                    <select name="hezuofangshi" class="form-control m-b" th:with="type=${@dict.getType('kjc_project_hezuo')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">项目级别：</label>
                <div class="col-sm-8">
                    <select name="level" class="form-control m-b" th:with="type=${@dict.getType('kjc_project_jibie')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "project/list"

        $(document).ready(function (){
            $("#deptName").append(`<option value="''"></option>`)
        });

        $("#form-list-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-list-add').serialize());
            }
        }

        $("input[name='startData']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).on('changeDate', function (ev) {
            var startTime = $("input[name='startData']").val();
            $("input[name='endData']").datetimepicker("setStartDate", startTime.toString("yyyy-MM-dd"));
            queryFunc();
        });

        $("input[name='endData']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).on('changeDate', function (ev) {
            var endTime = $("input[name='endData']").val();
            $("input[name='startData']").datetimepicker("setEndDate", endTime.toString("yyyy-MM-dd"));
            queryFunc();
        });
    </script>
</body>
</html>