<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('教师信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>教师工号：</label>
                                <input type="text" name="userJsgh"/>
                            </li>
                            <li>
                                <label>姓名：</label>
                                <input type="text" name="userName"/>
                            </li>
                            <li>
                                <label>学院：</label>
                                <select name="userCollege" th:with="type=${@dict.getType('kjc-college')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>出生年月：</label>
                                <input type="text" class="time-input" placeholder="请选择出生年月" name="userBirth"/>
                            </li>
                            <li>
                                <label>职称：</label>
                                <select name="userZhicheng" th:with="type=${@dict.getType('sys_user_zhicheng')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>毕业学校：</label>
                                <input type="text" name="userSchool"/>
                            </li>
                            <li>
                                <label>最高学位：</label>
                                <select name="userDegree" th:with="type=${@dict.getType('kjc_user_degree')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="userStatus" th:with="type=${@dict.getType('kjc_user_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:teacher:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:teacher:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:teacher:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
<!--                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:teacher:export">
                    <i class="fa fa-download"></i> 导出
                </a>-->
                <a class="btn btn-warning" onclick="exportExcel()" shiro:hasPermission="system:teacher:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:teacher:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:teacher:remove')}]];
        var userCollegeDatas = [[${@dict.getType('kjc-college')}]];
        var userZhichengDatas = [[${@dict.getType('sys_user_zhicheng')}]];
        var userDegreeDatas = [[${@dict.getType('kjc_user_degree')}]];
        var userStatusDatas = [[${@dict.getType('kjc_user_status')}]];
        var prefix = ctx + "system/teacher";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "教师信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'userId',
                    title: '教师表id',
                    visible: false
                },
                {
                    field: 'userJsgh',
                    title: '教师工号'
                },
                {
                    field: 'userName',
                    title: '姓名'
                },
                {
                    field: 'userCollege',
                    title: '学院',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(userCollegeDatas, value);
                    }
                },
                {
                    field: 'userBirth',
                    title: '出生年月'
                },
                {
                    field: 'userZhicheng',
                    title: '职称',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(userZhichengDatas, value);
                    }
                },
                {
                    field: 'userSchool',
                    title: '毕业学校'
                },
                {
                    field: 'userDegree',
                    title: '最高学位',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(userDegreeDatas, value);
                    }
                },
                {
                    field: 'userStatus',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(userStatusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function exportExcel() {
            var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
            var data = { "ids": rows.join() };
            console.log(data);
            //window.location.href = prefix + "/exportByIds?ids=" + rows.join();

            $.ajax({
                url: prefix + "/exportByIds?ids=" + rows.join(),
                async: false,
                type: "post",
                data: {
                },
                success: function (r) {
                    if (r.code == '0') {
                        // 下载创建好的excel
                        window.location.href = ctx + "common/download?fileName=" + r.msg + "&delete=true";
                    }
                }
            })
        }




    </script>
</body>
</html>