<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增校内项目')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-xnproject-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">项目编号：</label>
                <div class="col-sm-8">
                    <input name="xnProjectBianhao" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">项目名称：</label>
                <div class="col-sm-8">
                    <input name="xnProjectName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">项目负责人：</label>
                <div class="col-sm-8">
                    <input name="xnProjectLeader" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">年份：</label>
                <div class="col-sm-8">
                    <input name="xnProjectYear" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">学院：</label>
                <div class="col-sm-8">
                    <select name="xnSchool" class="form-control m-b" th:with="type=${@dict.getType('kjc-college')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">批准经费：</label>
                <div class="col-sm-8">
                    <input name="xnProjectGrant" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">项目状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('kjc_project_status')}">
                        <input type="radio" th:id="${'xnProjectStatus_' + dict.dictCode}" name="xnProjectStatus" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'xnProjectStatus_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开始日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="xnStartDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结束日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="xnEndDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">项目类别：</label>
                <div class="col-sm-8">
                    <select name="xnProjectType" class="form-control m-b" th:with="type=${@dict.getType('kjc-project-class')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预算：</label>
                <div class="col-sm-8">
                    <input name="xnBudget" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "project/xnproject"
        $("#form-xnproject-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-xnproject-add').serialize());
            }
        }

        $("input[name='xnStartDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).on('changeDate', function (ev) {
            var startTime = $("input[name='xnStartDate']").val();
            $("input[name='xnEndDate']").datetimepicker("setStartDate", startTime.toString("yyyy-MM-dd"));
            queryFunc();
        });

        $("input[name='xnEndDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        }).on('changeDate', function (ev) {
            var endTime = $("input[name='xnEndDate']").val();
            $("input[name='xnStartDate']").datetimepicker("setEndDate", endTime.toString("yyyy-MM-dd"));
            queryFunc();
        });
    </script>
</body>
</html>